@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.login {
    height: 100%;
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 320px;
        height: 100%;
        @include customForm($danger);
    }
}